.form {
    width: 50%;
    margin: 0 auto;
    &-main {
        display: flex;
        flex-direction: column;
        gap: 15px 0;

        button {
            margin-left: auto;
            width: max-content;
        }
    }
}