@import '../../scss/variables.scss';
@import '../../scss/mixin.scss';

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 0;
    background-color: #f3f3f3;

    &-main {
        @include flex;
        gap: 0 10px;
    }

    h4 {
        color: $green-color;
    }

    p {
        font-size: 12px;
        color: #bbb;
    }
}