@import '../../scss/mixin.scss';
@import '../../scss/variables.scss';

.header {
    padding: 20px 0;

    &-main {
        @include flex-between;
    }

    &-logo {
        font-size: 20px;
        font-weight: 600;
        color: $green-color;
    }

    &-list {
        @include flex;
        gap: 0 20px;
    }

    &-item {
       cursor: pointer;
       transition: 0.1s linear;

       &:hover {
           color: $green-color;
       }
    }
}